<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>INJ新聞管理系統</title>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
	
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

function MM_goToURL() { //v3.0
  var i, args=MM_goToURL.arguments; document.MM_returnValue = false;
  for (i=0; i<(args.length-1); i+=2) eval(args[i]+".location='"+args[i+1]+"'");
}
//-->
</script>
<style type="text/css">
<!--
.style1 {color: #FF0000}
-->
</style>
</head>
<body onLoad="MM_preloadImages('admin1/images/01_addid_f2.gif','admin1/images/01_delete_f2.gif')">
<div align="center">
  <table width="960" border="0" cellpadding="0" cellspacing="0" bordercolor="#666666">
    <tr>
      <td><table width="960"  border="0" cellpadding="2" cellspacing="0" bordercolor="#666666">
          <tr align="center" valign="middle">
            <td width="960" colspan="3"><!-- #BeginLibraryItem "Library/top.lbi" -->
          <script type="text/JavaScript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
          </script>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="467" bgcolor="#EAFBFF"><div align="left"><a href="login.htm"><img src="/images/logo.jpg" width="310" height="80" border="0"></a></div></td>
              <td width="333" valign="bottom" bgcolor="#EAFBFF"><table width="90%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><div align="right" class="white12">
                      <div align="right">admin 你好　<a href="login.htm">登出</a></div>
                    </div></td>
                  </tr>
              </table></td>
            </tr>
          </table>
          <!-- #EndLibraryItem --></td>
          </tr>
          <tr>
            <td width="20%" valign="top"><!-- #BeginLibraryItem "Library/INJ.lbi" -->
<script type="text/JavaScript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td height="3"></td>
  </tr>
  
  <tr>
    <td bgcolor="#2384BE" class="white13"><div align="left">權限管理</div></td>
  </tr>
  <tr>
    <td bgcolor="#EFEFEF"><div align="left">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="5">&nbsp;</td>
            <td width="5"> ‧</td>
            <td class="black12"><div align="left"><a href="account_1.1.htm">權限群組設定</a></div></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>‧</td>
            <td class="black12"><a href="account_2.1.htm">使用者帳號管理</a></td>
          </tr>
        </table>
      </div></td>
  </tr>
  <tr>
    <td bgcolor="#2384BE" class="white13"><div align="left">影音頻道</div></td>
  </tr>
  <tr>
    <td bgcolor="#EFEFEF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="5">&nbsp;</td>
          <td width="5"> ‧</td>
          <td class="black12"><div align="left"><a href="video_1.1.htm">頻道類別維護</a></div></td>
        </tr>
        <tr>
          <td width="5">&nbsp;</td>
          <td width="5"> ‧</td>
          <td class="black12"><div align="left"><a href="video_2.1.htm">影片管理</a></div></td>
        </tr>
         <tr>
          <td width="5">&nbsp;</td>
          <td width="5"> ‧</td>
          <td class="black12"><div align="left"><a href="video_3.1.htm">影片審核</a></div></td>
        </tr>
         <tr>
          <td width="5">&nbsp;</td>
          <td width="5"> ‧</td>
          <td class="black12"><div align="left"><a href="video_4.1.htm">推薦管理維護</a><a href="video_4.1.htm"></a></div></td>
        </tr>
         <tr>
          <td width="5">&nbsp;</td>
          <td width="5"> ‧</td>
          <td class="black12"><div align="left"><a href="video_5.1.htm">點閱查詢</a></div></td>
        </tr>
      </table></td>
  <tr>
    <td bgcolor="#EFEFEF"><div align="left">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
        </table>
      </div></td>
  </tr>
  <tr>
    <td bgcolor="#2384BE" class="white13"><div align="left">城市轉化禱告祭壇</div></td>
  </tr>
   <tr>
    <td bgcolor="#EFEFEF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="5">&nbsp;</td>
          <td width="5"> ‧</td>
          <td class="black12"><div align="left"><a href="forum_1.1.htm">守門人管理</a><a href="forum_1.1.htm"></a></div></td>
        </tr>
        <tr>
          <td width="5">&nbsp;</td>
          <td width="5"> ‧</td>
          <td class="black12"><div align="left"><a href="forum_2.1.htm">社群管理</a></div></td>
        </tr>
         <tr>
          <td width="5">&nbsp;</td>
          <td width="5"> ‧</td>
          <td class="black12"><div align="left"><a href="forum_3.1.htm">禱告祭壇管理</a></div></td>
        </tr>         
      </table></td>
  <tr>
    <td bgcolor="#EFEFEF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      </table></td>
  </tr>
  <tr>
    <td bgcolor="#2384BE" class="white13"><div align="left">新聞</div></td>
  </tr>
  <tr>
    <td bgcolor="#EFEFEF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="5">&nbsp;</td>
          <td width="5"> ‧</td>
          <td class="black12"><div align="left"><a th:href=@{/admin/news/newsList}>資料來源管理</a></div></td>
        </tr>
        <tr>
          <td width="5">&nbsp;</td>
          <td width="5"> ‧</td>
          <td class="black12"><div align="left"><a th:href=@{/admin/news/newsList}>新聞管理</a></div></td>
        </tr>
        
        
    </table></td>
  </tr>
  
  
  <tr>
    <td bgcolor="#2384BE" class="white13"><div align="left">成為志工</div></td>
  </tr>
  <tr>
    <td bgcolor="#EFEFEF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="5">&nbsp;</td>
          <td width="5"> ‧</td>
          <td class="black12"><div align="left"><a href="5-1.htm">成為志工管理</a></div></td>
        </tr>
        
      </table></td>
  </tr>
  <tr>
    <td bgcolor="#2384BE" class="white13"><div align="left">教會地圖</div></td>
  </tr>
  <tr>
    <td bgcolor="#EFEFEF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="5">&nbsp;</td>
          <td width="5"> ‧</td>
          <td class="black12"><div align="left"><a href="churchmap_1.htm">教會地圖管理</a></div></td>
        </tr>
        
      </table></td>
  </tr>
  <tr>
    <td bgcolor="#2384BE" class="white13"><div align="left">廣告banner</div></td>
  </tr>
  <tr>
    <td bgcolor="#EFEFEF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="5">&nbsp;</td>
          <td width="5"> ‧</td>
          <td class="black12"><div align="left"><a href="banner_1">廣告banner管理</a></div></td>
        </tr>
       
      </table></td>
  </tr>
  
  <tr>
    <td bgcolor="#2384BE" class="white13"><div align="left">部落格首頁管理</div></td>
  </tr>
  <tr>
    <td bgcolor="#EFEFEF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="5">&nbsp;</td>
          <td width="5"> ‧</td>
          <td class="black12"><div align="left">部落格首頁管理</div></td>
        </tr>
        
      </table></td>
  </tr>
</table>
<!-- #EndLibraryItem --></td>
            <td width="1%">&nbsp;</td>
            <td valign="top"><table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="13" height="17" background="/images/01.gif"></td>
                  <td background="/images/02.gif"></td>
                  <td width="17" height="17" background="/images/06.gif"></td>
                </tr>
                <tr>
                  <td background="/images/03.gif">&nbsp;</td>
                  <td><table width="100%" border="0" align="center" cellpadding="5" cellspacing="0">
                      <tr>
                        <td><div align="left" class="black12">INJ網站管理介面>新聞管理-<strong>新增新聞</strong></div></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><form th:action="@{save}" method="post">
                        <table width="100%" border="1" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="30%">標題</td>
                            <td width="70%"><input required name="title" type="text"></td>
                          </tr>
                          <tr>
                            <td><p>內容</p>                              </td>
                            <td ><textarea name="content" rows="7" cols="50"></textarea>
                            </td>
                          </tr>
                          <tr>
                            <td>上傳圖檔(建議大小:160*120)<br>(限定BMP、JPG、PNG格式)</td>
                            <td><input name="file" type="file" accept="image/BMP, image/jpeg, image/png" onchange="loadFile(event)">
                              <img id="output" />
                              <script>
								  var loadFile = function(event) {
								    var output = document.getElementById('output');
								    output.src = URL.createObjectURL(event.target.files[0]);
								    output.onload = function() {
								      URL.revokeObjectURL(output.src) // free memory
								    }
								  };
								</script>
							</td>
                          </tr>
                          <tr>
                            <td>記者</td>
                            <td><input required name="reporter" type="text"></td>
                          </tr>
                          <tr>
                            <td>報導地點</td>
                            <td><select required name="city">
                              <option>點選縣市</option>
                              <option  value="1">台北市</option>
                           </select></td>
                          </tr>
                          <tr>
                            <td>日期</td>
                            <td><input required name="report_time" type="date" pattern="yyyy-MM-dd"></td>
                          </tr>
                          <tr>
                            <td>資料來源</td>
                            <td><select required name="news_source">
                              <option value="12806188bf90000007ec">醒報</option>
                              <option value="127091ffe8e00000119a">國度復興報</option>
                              <option value="127092024760000024f4">論壇e報</option>
                            </select></td>
                          </tr>
                          <tr>
                            <td>選擇分類</td>
                            <td><select required name="category_id">
                              <option value="12722235646000008b3e">新聞報導</option>
                              <option value="12722237f4a000009564">熱門活動</option>
                            </select></td>
                          </tr>
                          <tr>
                            <td height="30">顯示為頭條</td>
                            <td><span class="style2">
                              <input type=radio  value=1 name="headline">
                            </span>是<span class="style2">
                            <input type=radio checked value=0 name="headline">
                            </span> 否</td>
                          </tr>
                          <tr>
                            <td>上架</td>
                            <td><span class="style2">
                              <input type=radio checked value=0 name="active">
                            </span>是 <span class="style2">
                            <input type=radio value=1 name="active">
                            </span>否</td>
                          </tr>
                          <tr>
                            <td>上下架日期</td>
                            <td><input required name="start_time" type="date" pattern="yyyy-MM-dd"> 
                              ~
                              <input required name="end_time" type="date" pattern="yyyy-MM-dd"></td>
                          </tr>

                          <tr>
                            <td colspan="2"><div align="center">
                              <span class="tLeft">
                              <input type="submit" name="save" value="儲存"/>
                              </span>
                              <span class="tLeft">
                              <input type="submit" name="cancel" value="取消"/>
                              </span></div></td>
                            </tr>
                        </table></form></td>
                      </tr>
                  </table></td>
                  <td background="images/07.gif">&nbsp;</td>
                </tr>
                <tr>
                  <td background="/images/04.gif"></td>
                  <td background="/images/05.gif">&nbsp;</td>
                  <td background="/images/08.gif"></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td colspan="3">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3"><div align="center" class="black12"><!-- #BeginLibraryItem "/Library/footer.lbi" --><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><div align="center">大台北基督教轉化聯盟版權所有 &copy;   All Rights Reserved</div></td>
              </tr>
            </table><!-- #EndLibraryItem --></div></td>
          </tr>
          <tr>
            <td colspan="3">&nbsp;</td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>
</body>
</html>
